.generalContainer {
  width: 100vw;
  height: 800px;
  background-image: url("../../../Assets/Images/Footer/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  padding-bottom: 25px;
}

.container {
  width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
}

.container hr {
  border: 1px solid #ededed;
}