.generalContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  width: 60%;
}

.section label {
  font-weight: 400;
  font-size: 1rem;
  color: #ededed;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button {
  background-color: #518151;
  color: #ededed;
  font-size: 1rem;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 60%;
  cursor: pointer;
}

.linkContainer {
  width: 60%;
  margin-top: 15px;
}

.linkContainer p {
  font-size: 0.9rem;
}

.linkContainer p b {
  font-weight: 500;
  color: #efa749;
  cursor: pointer;
}
