.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 89px;
  height: 100vh;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  gap: 64px;
}

.productContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 37px;
  height: 340px;
}

.content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 350px;
}

.content h6 {
  color: #efa749;
  font-size: 1.5rem;
}

.content p {
  font-size: 1.1rem;
  max-width: 392px;
  text-align: center;
}
