.container {
  width: 80vw;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;

  z-index: 10;
}

.searchImg {
  width: 25px;
  cursor: pointer;
}

.logo {
  width: 70px;
  cursor: pointer;
}
