.container {
  position: relative;
}

.input {
  border-radius: 5px;
  border: 3px solid #518151;
  background-color: transparent;
  color: #ededed;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 15px;
  cursor: pointer;
}

.eyeHiddenIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 13px;
  right: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 877px) {
  .eyeIcon {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
  }
  .eyeHiddenIcon {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
  }
}
